<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="emergenciasMenu"></ion-menu-button>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Buscar Unidad</ion-title>
    <ion-buttons slot="end">
      <ion-img src="/assets/img/2.png" class="logo-img"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Buscar Ambulancia por Patente</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Patente de la Ambulancia</ion-label>
        <ion-input [(ngModel)]="patente" placeholder="Ingrese la patente" required></ion-input>
      </ion-item>
      <ion-button expand="block" color="primary" (click)="buscarAmbulancia()">
        Buscar Ambulancia
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

