<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button menu="emergenciasMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Página no encontrada</ion-title>
    <ion-buttons slot="end">
      <ion-img src="/assets/img/2.png" class="logo-img"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="error-page-content">
  <div class="error-container">
    <ion-title size="large" class="ops">Oops!</ion-title>
    <p class="error-message">Lo sentimos, la página que buscas no existe.</p>
    <ion-icon name="sad-outline" class="error-icon" ></ion-icon>
    <ion-button expand="block" (click)="navigateToHome()" class="back-home-button">
      Volver al Inicio
    </ion-button>
  </div>
</ion-content>
