ion-toolbar {
  --background: #0d47a1; // Azul oscuro
  --color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-img {
    width: 50px;
    height: 50px;
    margin-right: 5%;
  }

  ion-title {
    font-size: 1.6rem;
    text-align: center;
    margin: auto;
  }
}

ion-content {
  &.background {
    --background: url('/assets/imgs/emergencias-fondo.png') no-repeat center center / cover;
  }
  padding: 20px;
}

ion-card {
  --background: rgba(255, 255, 255, 0.9); // Fondo semitransparente
  --border-radius: 12px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Sombra más suave
  margin: 20px auto;
  width: 90%;
  max-width: 400px;
}

ion-card-header[color="danger"] {
  --background: #d32f2f; // Rojo peligro
  --color: white;
}

ion-card-title {
  font-weight: bold;
  color: #0d47a1; // Azul oscuro
  text-align: center;
}

ion-button {
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra ligera
  --border-radius: 12px;
  --padding: 12px 24px;
  font-weight: bold;
  margin-top: 10px;
  width: 100%;

  &.btn-azul-claro {
    --background: #64b5f6; // Azul claro
    --color: #1a237e; // Azul profundo
  }

  &.secondary {
    --background: #ffca28; // Amarillo claro
    --color: black;
  }
}


.custom-footer {
  --background: #f8f9fa; // Fondo gris claro
  border-top: 1px solid #e0e0e0;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);

  ion-grid {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  ion-button {
    --background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 0;

    ion-icon {
      color: #007bff; // Azul primario
      font-size: 28px;
      margin-bottom: 6px;
    }

    ion-label {
      color: #343a40; // Gris oscuro
      font-size: 14px;
      font-weight: 500;
      text-align: center;
    }
  }
}
 
/* Contenedor de la imagen */
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Imagen de perfil redonda */
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Hace la imagen completamente circular */
  object-fit: cover; /* Ajusta la imagen al contenedor sin deformarla */
  border: 4px solid #fff; /* Borde blanco alrededor */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  overflow: hidden; /* Asegura que el contenido no se salga del borde circular */
}

/* Efecto al pasar el cursor (opcional en web) */
.profile-img:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}
