<ion-header>
  <ion-toolbar>
    <ion-title>Buscar Paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">RUT</ion-label>
    <ion-input [(ngModel)]="rut" type="text"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="buscarPaciente()">Buscar</ion-button>

  <div *ngIf="mensajeError" class="error-message" style="text-align: center; margin-top: 20px;">
    <p>{{ mensajeError }}</p>
  </div>

  <!-- Solo mostrar el botón de 'Registrar Paciente' si el rol es paramédico (2) -->
  <div *ngIf="!paciente && rolUsuario === 2" style="text-align: center; margin-top: 20px;">
    <ion-button color="danger" (click)="irARegistrarPaciente()">Registrar Paciente</ion-button>
  </div>

  <div *ngIf="!paciente && rolUsuario === 2" style="text-align: center; margin-top: 20px;">
    <ion-button color="danger" (click)="irAEnvioInfo()">Ver Informacion</ion-button>
  </div>

  <!-- Mostrar el paciente encontrado y botón de 'Continuar' solo para médico (3) -->
  <div *ngIf="paciente" style="text-align: center; margin-top: 20px;">
    <p>Paciente encontrado: {{ paciente.nombre }}</p>
    <ion-button color="primary" *ngIf="rolUsuario === 3" (click)="irAEnvioInfo()">Continuar</ion-button>
  </div>
</ion-content>
