<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Buscar Paciente</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-searchbar [(ngModel)]="rut" placeholder="Ingrese RUT" (ionInput)="buscarPaciente()"></ion-searchbar>
  <!-- Mensaje de error si el rut es inválido o no se encuentra -->
  <ion-card *ngIf="mensajeError">
    <ion-card-content>
      <ion-text color="danger">{{ mensajeError }}</ion-text>
    </ion-card-content>
  </ion-card>
  <!-- Mostrar detalles del paciente si es encontrado -->
  <ion-card *ngIf="paciente">
    <ion-card-header>
      <ion-card-title>Datos del Paciente</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Nombre:</strong> {{ paciente.nombre }}</p>
      <p><strong>Fecha de Nacimiento:</strong> {{ paciente.f_nacimiento | date }}</p>
      <p><strong>Género:</strong> {{ paciente.idGenero }}</p>
      <p><strong>RUT:</strong> {{ paciente.rut }}</p>
      <p><strong>Teléfono:</strong> {{ paciente.telefono_contacto }}</p>
      <ion-button expand="block" (click)="irEnvio()" routerDirection="root">Ver Signos vitales</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>