<ion-item>
  <ion-label position="stacked">Nombre Completo</ion-label>
  <ion-input 
    placeholder="Ingrese el nombre del paciente" 
    [(ngModel)]="paciente.nombre">
  </ion-input>
</ion-item>

<div style="margin: 16px auto; max-width: 90%; padding: 0 5%;">
  <mat-form-field appearance="fill">
    <mat-label>Fecha de nacimiento</mat-label>
    <input 
      matInput 
      [matDatepicker]="picker" 
      [(ngModel)]="paciente.f_nacimiento" 
      name="fechaNacimiento">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<ion-item>
  <ion-label position="stacked">Género</ion-label>
  <ion-select 
    placeholder="Seleccione el género" 
    [(ngModel)]="paciente.idGenero">
    <ion-select-option value="1">Masculino</ion-select-option>
    <ion-select-option value="2">Femenino</ion-select-option>
    <ion-select-option value="3">Otro</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label position="stacked">Ingrese su Rut</ion-label>
  <ion-input 
    placeholder="12345678-1" 
    [(ngModel)]="paciente.rut">
  </ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Teléfono de Contacto</ion-label>
  <ion-input 
    type="tel" 
    placeholder="Ingrese el teléfono de contacto" 
    [(ngModel)]="paciente.telefono_contacto">
  </ion-input>
</ion-item>
